<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunxinyang.debateclock">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sunxinyang.debateclock.GamePrepareActivity"
            android:label="开始一场辩论赛">
        </activity>
        <activity android:name="com.sunxinyang.debateclock.ui.GameRuleSettingActivity"
            android:label="设置赛制">
        </activity>
        <activity android:name="com.sunxinyang.debateclock.ui.GamingActivity"
            android:label="辩论赛名称">
        </activity>
        <activity android:name=".ui.GameRuleList"
            android:label="请选择赛制">
        </activity>

    </application>

</manifest>